<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Четвертая лабораторная работа</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        header {
            background-color: orange;
            padding: 20px;
            text-align: center;
        }
        a {
            color: blue;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        ol {
            padding: 20px;
        }
    </style>
</head>
<body>

<header>
    <h1>Четвертая лабораторная работа</h1>
    <nav>
        <a href="https://github.com/Andrey-Zobnin/RepForWEB/">Git</a>
    </nav>
</header>

<ol>
    <li>Кот</li>
    <li>Собака</li>
    <li>Попугай</li>
</ol>

</body>
</html>